<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383281681009-qo1c055e45vfv7s4end9o34ttae2o0kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383281681009-qo1c055e45vfv7s4end9o34ttae2o0kk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383281681009-86h4cktof43hh84g0kj1o9ki7bjuk8gc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy_be63IQrEf2Ndp7Hd38zEZSbL-ZpUcw</string>
	<key>GCM_SENDER_ID</key>
	<string>383281681009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecg</string>
	<key>PROJECT_ID</key>
	<string>ylpapp-66bd6</string>
	<key>STORAGE_BUCKET</key>
	<string>ylpapp-66bd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383281681009:ios:68e027b8930d1e0bf9c1d0</string>
</dict>
</plist>